@import './uview.theme.scss';

.flex {
	display: flex;
}
.items-center {
	align-items: center;
}
.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-1 {
	flex: 1 1 0%;
}
.shrink-0 {
	flex-shrink: 0;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}

.font-bold {
	font-weight: bold;
}
.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.overflow-hidden {
	overflow: hidden;
}

.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}

/**********************************************************
* 通用颜色
*******************************************************/

.blue,
.theme,
.primary {
	color: $u-primary;
}

.warning {
	color: $u-warning;
}

.green,
.success {
	color: $u-success;
}

.info,
.gray {
	color: $u-info;
}

.red,
.error {
	color: $u-error;
}

/**********************************************************
* 通用样式
*******************************************************/
.common-page-container {
	width: 100%;
	height: 100%;
	padding: 48rpx 32rpx;
	&.has-btm-btn {
		padding-bottom: 236rpx;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
.common-card-box {
	background: #ffffff;
	border-radius: 16rpx;
	padding: 32rpx;
}
.common-btm-btn {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 70rpx 32rpx;
	z-index: 100;
	display: flex;
	background: #f7f9fb;

	button {
		flex: 1;
		&:nth-of-type(2) {
			margin-left: 32rpx;
		}
	}
}
